@import "tailwindcss";

*{
    font-family: Arial, Helvetica, sans-serif;
}

.cursor-pointer{
    cursor: pointer;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}
html {
  scroll-behavior: smooth;
}

.spin-animation{
    animation: spin 1s linear infinite;
}
.invoiceform input:focus,
.invoiceform textarea:focus,
.invoiceform select:focus{
    box-shadow: none !important;
}

.previewpage .invoice-preview{
    /* 794px */
    width: 820px;
    min-height: 1123px;
    background-color:#fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 0;
    overflow: hidden;
}